.addVideo{
     margin-top: 5vh;
     color: aliceblue;
     width: 100%;
     height: 80vh;
     padding: 10vh 0;
     background-color: #1a1d29;
     display: flex;
     justify-content: center;
 }
 .addVideo .form{
     padding: 30px;
     background-color: #2f354be7;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .addVideo .form input{
     color: white;
     margin-top: 20px;
     height: 5vh;
     background-color: #2f354be7;
     border: none;
     outline: none;
 }
 .addVideo .form .checkbox{
     margin-top: 20px;
     display: flex;
     align-items: center
 }
 .addVideo .form .MuiCheckbox-root{
     width: 10% !important;
 }
 /* .addVideo .form input:focus{
     border: none;
 } */
 .addVideo .form Button{
     width: 50%;
     margin-top: 20px;
     background-color: #ff5f5fe7;
 }
 
 .addVideo .form .warning{
     color: rgb(255, 75, 75);
     font-size: 0.8rem;
 }
 
 
 @media only screen and (max-width: 450px) {
     .addVideo{
         margin-top: 0;
     }
     .addVideo .form{
         width: 100%;
         height: 70vh;
     }
     .addVideo .form input{
         height: 10vh;
     }
 }