.header{
    background: #1a1d29;
    /* background: linear-gradient(180deg, rgba(0,0,0,0.6474964985994398) 0%, rgba(0,0,0,0) 100%);    */
    /* display: flex; */
    position: fixed;
    height: 7vh;
    width: 100%;
    /* top: 0; */
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 15% 75%;
}
.header .imgLogo{
    width: 50%; 
} 
.header .menu .button{
    text-align: right;
    display: flex;    
    align-items: center;
    margin-left: auto;
} 
.header .menu{
    display: flex;
}

.header .menu .nosl{    
    /* height: 5vh; */
    border: none;
    background-color: #1a1d29;
    color: #ffffff;
    margin-right: 50px;
    opacity: 70%;
    padding-top: 10px;
    text-decoration: none;
}
.header .menu .selected{
    border: none;
    background-color: #1a1d29;
    color: #ffffff;
    opacity: 100%;
    margin-right: 50px;
    padding-top: 10px;
    text-decoration: none;
}
.header .menu a:hover{ 
    color: #ffffff;    
    opacity: 100%;
}
 
.header .menu .button a {
    color: #ffffff;
    border: none;
    background-color: #1a1d29;
    text-decoration: none;
    margin-right:10px ;
}
.header .menu .button a:hover{ 
    color: #ffffff;    
    opacity: 100%;
}
.header .menu .form{
    width: 25%;
}
.header .menu .form .css-96uuyl{
    width: 100%;
    background-color: #ffffff;
    opacity: 90%;
}




.header .menuRep {
    display: none;
}
.header .menuRep .icon {
    color: #ffffff;
    border: none;
    opacity: 70%;
    background-color: #1a1d29;
}






.header .menuForMobile{
    display: none;
}




/*=====Reponsive=======*/



    @media only screen and (max-width: 1570px   ) {
    .header{
        grid-template-columns: 15% 55% 15%;

    }
    }

  /* IP 12pmx */
  @media only screen and (max-width: 450px   ) {
    .header{
        display: flex;
        padding: 0 20px;
    }
    .header .menu, .button{
        display: none;
    }
    .header .imgLogo{
        width: 50%;
    }


    .header .menuRep{
        display: block;
    }
    .header .menuRep .icon{
        font-size: 30px;
    }


    .header .menuForMobile{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top:  7vh;
        right: 0;
        width: 50%;
        background-color: #1a1d29;
    }
    .header .menuForMobile a{
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        padding: 0.5rem;
    }



  }
